In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('dataset/live_data.csv')

In [4]:
df.head()

,country,state,city,station,last_update,latitude,longitude,pollutant_id,pollutant_min,pollutant_max,pollutant_avg
0,India,Andhra_Pradesh,Anantapur,"Gulzarpet, Anantapur - APPCB",07-01-2024 09:00:00,14.675886,77.593027,SO2,4.0,7.0,5.0
1,India,Andhra_Pradesh,Anantapur,"Gulzarpet, Anantapur - APPCB",07-01-2024 09:00:00,14.675886,77.593027,OZONE,17.0,39.0,22.0
2,India,Andhra_Pradesh,Chittoor,"Gangineni Cheruvu, Chittoor - APPCB",07-01-2024 09:00:00,13.204880,79.097889,SO2,7.0,41.0,14.0
3,India,Andhra_Pradesh,Chittoor,"Gangineni Cheruvu, Chittoor - APPCB",07-01-2024 09:00:00,13.204880,79.097889,CO,2.0,20.0,8.0
4,India,Andhra_Pradesh,Kadapa,"Yerramukkapalli, Kadapa - APPCB",07-01-2024 09:00:00,14.465052,78.824187,NH3,NaN,NaN,NaN

In [5]:
df.dropna(inplace=True)

In [6]:
df.drop_duplicates(inplace=True)

df['country_avg'] =

ValueError: Cannot set a DataFrame with multiple columns to the single column country_avg

In [30]:
dd = df.groupby(['state','pollutant_id'])['pollutant_avg'].mean()

16.11111111111111